name: CI

on: [push, pull_request]

jobs:
  fastlane:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true
      - name: Install gems
        run: bundle install
      - name: Create empty properties
        run: touch keystore.properties
      - name: Run pipeline
        run: bundle exec fastlane debugPipeline